In [26]:
import pandas as pd

In [27]:
import pandas as pd
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [28]:
df[df['temperature']>32]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [29]:
df['temperature']>32

0    False
1     True
2    False
3    False
4    False
5    False
Name: temperature, dtype: bool

In [30]:
df['temperature']

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [31]:
df['day'][df['temperature'] == df['temperature'].max()]

1    1/2/2017
Name: day, dtype: object

In [32]:
# It will display only day and temperature column of matching result

df['day'][df['temperature'] == df['temperature'].min()]

3    1/4/2017
Name: day, dtype: object

In [33]:
# It will display all the columns of matching result

df[df['temperature'] == df['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [34]:
# Calculating the standard deviation
df['temperature'].std()

3.8297084310253524

In [35]:
# It displays the statistics.
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [36]:
df['event'].max()

'Sunny'

In [37]:
# Index
df.index

RangeIndex(start=0, stop=6, step=1)

In [38]:
# set the index to a new column
df.set_index('day',inplace=True)

In [39]:
# The DataFrame.loc[] is used to retrieve the group of rows and columns by labels or a boolean array in the DataFrame. 
# It takes only index labels, and if it exists in the caller DataFrame, it returns the rows, columns, or DataFrame.
df.loc['1/4/2017']

temperature      24
windspeed         7
event          Snow
Name: 1/4/2017, dtype: object

In [40]:
# Resset the index
df.reset_index(inplace=True)

In [41]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [42]:
df.set_index('event',inplace=True)

In [43]:
df.loc['Snow']

            day  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7

In [44]:
df.reset_index(inplace=True)

In [45]:
# It will display all rows but only temperature and windspeed columns
df.loc[:,['temperature','windspeed']]

   temperature  windspeed
0           32          6
1           35          7
2           28          2
3           24          7
4           32          4
5           31          2

In [46]:
df.reset_index(inplace=True)

In [47]:
import numpy as np

In [48]:
info = np.array(['P','a','n','d','a','s'])

In [49]:
info

array(['P', 'a', 'n', 'd', 'a', 's'], dtype='<U1')

In [50]:
a = pd.Series(info) 
a

0    P
1    a
2    n
3    d
4    a
5    s
dtype: object