In [ ]:
import pandas as pd

In [ ]:
import pandas as pd
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
df

In [ ]:
df[df['temperature']>32]

In [ ]:
df['temperature']>32

In [ ]:
df['temperature']

In [ ]:
df['day'][df['temperature'] == df['temperature'].max()]

In [ ]:
# It will display only day and temperature column of matching result

df['day'][df['temperature'] == df['temperature'].min()]

In [ ]:
# It will display all the columns of matching result

df[df['temperature'] == df['temperature'].max()]

In [ ]:
# Calculating the standard deviation
df['temperature'].std()

In [ ]:
# It displays the statistics.
df.describe()

In [ ]:
df['event'].max()

In [ ]:
# Index
df.index

In [ ]:
# set the index to a new column
df.set_index('day',inplace=True)

In [ ]:
# The DataFrame.loc[] is used to retrieve the group of rows and columns by labels or a boolean array in the DataFrame. 
# It takes only index labels, and if it exists in the caller DataFrame, it returns the rows, columns, or DataFrame.
df.loc['1/4/2017']

In [95]:
# Resset the index
df.reset_index(inplace=True)

In [96]:
df

   event  index       day  temperature  windspeed
0   Rain      0  1/1/2017           32          6
1  Sunny      1  1/2/2017           35          7
2   Snow      2  1/3/2017           28          2
3   Snow      3  1/4/2017           24          7
4   Rain      4  1/5/2017           32          4
5  Sunny      5  1/6/2017           31          2

In [92]:
df.set_index('event',inplace=True)

In [93]:
df.loc['Snow']

       index       day  temperature  windspeed
event
Snow       2  1/3/2017           28          2
Snow       3  1/4/2017           24          7

In [91]:
# It will display all rows but only temperature and windspeed columns
df.loc[:,['temperature','windspeed']]

   temperature  windspeed
0           32          6
1           35          7
2           28          2
3           24          7
4           32          4
5           31          2

In [97]:
df.reset_index(inplace=True)

In [ ]:
import numpy as np

In [ ]:
info = np.array(['P','a','n','d','a','s'])

In [ ]:
info

In [ ]:
a = pd.Series(info)  
a